@import "tailwindcss";

@theme {
  --color-bg-theme: #FDFBF7;
  --color-main-theme: #864826;
  --color-sub-theme: #DCA462;
  --color-text-theme: #260B06;
  --color-error-theme: #D34848;
  --color-error-extra-theme: #9B3B3B;
  
  --font-javanese: 'Noto Sans Javanese', serif;
  --font-ui: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-bg-theme text-text-theme font-ui;
  }
}

.caret {
  @apply absolute w-[2px] h-10 md:h-16 bg-main-theme transition-all duration-75;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  75% { transform: translateX(10px); }
}

.animate-shake {
  animation: shake 0.2s ease-in-out 0s 2;
}


@keyframes pulse-subtle {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.03); opacity: 0.95; }
}

.animate-pulse-subtle {
  animation: pulse-subtle 3s infinite ease-in-out;
}

.hidden-input {
  @apply absolute opacity-0 pointer-events-none;
}

.words-wrapper {
  @apply flex flex-wrap gap-[0.8rem] transition-transform duration-200 ease-in-out;
}

.word {
  @apply text-sub-theme relative whitespace-nowrap;
}

.word.active {
  @apply text-sub-theme;
}

.char {
  @apply relative;
}

.char.correct {
  @apply text-text-theme;
}

.char.partial {
  @apply text-text-theme/50;
}

.char.incorrect {
  @apply text-error-theme;
}

.char.extra {
  @apply text-error-extra-theme;
}
